<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
  <section class='github'>
    <% if current_user.token.present? %>
      <h1>Github</h1>
      <div class='repos'>
        <h2>Repos</h2>
        <% @github.repos.each do |repo| %>
          <p><%= link_to repo.name, repo.url %></p>
        <% end %>
      </div>
      <div class='followers'>
        <h2>Followers</h2>
        <% @github.followers.each do |follower| %>
          <p><%= link_to follower.handle, follower.url %></p>
        <% end %>
      </div>
      <div class='following'>
        <h2>Following</h2>
        <% @github.following.each do |follow| %>
          <p><%= link_to follow.handle, follow.url %></p>
        <% end %>
      </div>
    <% end %>
  </section>
</section>
